{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '../static/css/myOwnStyle.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/styles.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>

<body

    style="background-image: url(https://cdn.aarp.net/content/dam/aarp/entertainment/beauty-and-style/2020/04/1140-hair-products-on-table-esp.imgcache.rev.web.900.517.jpg); background-size:contain;">
    {%include 'navbar.html' %}
    <div class="card mb-3" style="max-width: 540px; background-color: rgba(255, 255, 255, 0.637); margin-left: 30%; margin-top: 20px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/media/{{product.imagen}}" class="img-fluid rounded-start" alt="..." style="margin-top: 50px; margin-left: 25px;">
          </div>
          <div class="col-md-8">
            <div class="card-body"  style=" margin-left: 25px;">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique voluptatum soluta amet, iure voluptatibus sed labore voluptas, minima blanditiis eum ipsam assumenda delectus id nobis qui omnis, sapiente molestias obcaecati.</p>
              <p>{{product.price}}$</p>
              <a href="/AppCoder/products" class="btn boton btn-sm">Volver</a>
            </div>
          </div>
        </div>
      </div>
</body>