{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '../static/css/myOwnStyle.css' %}">
    <link href="{% static '../static/css/styles.css' %}" rel="stylesheet" />
    
    <title>Document</title>
</head>

<body>
    {%include 'navbar.html'%}
    <form  method="POST"> {% csrf_token %}
        {{ form.as_p }}
      
        <button type="submit" class="btn boton">Submit</button>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>