{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static '../static/assets/favicon.ico' %}" />
        <link href="{% static '../static/css/myOwnStyle.css' %}" rel="stylesheet" />
        <link href="{% static '../static/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body style="background-image: url(https://www.cuerpomente.com/medio/2023/05/16/chica-con-pelo-afro_6b0ac6e0_1281698360_230516145338_1280x720.jpg); background-size: cover;">
        <!-- Responsive navbar-->
     {%include 'navbar.html' %}
     <div class="row gx-4 gx-lg-5 align-items-center">
        
         <img src="" >
        <div class="col-lg-5" >
            <h1 class="font-weight-light" id="curly">Curly Store</h1>
            <p>Página diseñana para el proyecto de CoderHouse de Python. Funciona como una pagina de compra en donde se registran usuarios que se guardan en una base de datos, al igual que productos que luego se pueden mostrar.</p>
            <a class="btn boton" href="{% url 'allProducts' %}"> Ver Productos </a>
        </div>
    </div>
      {{mensaje}}
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    </body>
</html>
