{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Proyecto</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static '../static/assets/favicon.ico' %}" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{% static '../static/css/styles.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{%static '../static/css/myOwnStyle.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:  #071939b0 ;">
    <div class="container-fluid">
      <a class="navbar-brand hvr-grow " id="curly" href="/AppCoder">Curly Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link color" href="/AppCoder/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color" href="/AppCoder/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color " href="/AppCoder/login">Inicia Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color " href="#">{{user.username}}</a>
          </li>
        </ul>
        <form action="{% url 'index' %}" method="GET" style="margin-right: 150px;" ; class="d-flex" role="search">
          <input class="form-control me-2" name="search" id="search" type="search" placeholder="Buscar"
            aria-label="Search">
          <button class="btn boton" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>