{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static '../static/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static '../static/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{%static '../static/css/myOwnStyle.css' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
       
        <h2>Hola {{user.nombre}}</h2>
        <h3>Bienvenido a CurlyStore!</h3>
        <a href="/AppCoder/products" class="boton btn">Productos</a>
      
    
     
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>