{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '../static/css/myOwnStyle.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/styles.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    {%include 'navbar.html' %}

    {%if usuario%}
    {%for x in usuario%}

    <div class="list-group">

        <a href="#" class="list-group-item list-group-item-action list-group-item-warning"> <b>Usuario:</b> {{x.nombre}}
            {{x.apellido}} <b>Email:</b> {{x.email}}</a>

        </div>
   
    {%endfor%}

    {%endif%}

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
    