@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inconsolata&family=Indie+Flower&family=Inter:wght@400;700&family=Merienda:wght@800;900&family=Space+Grotesk:wght@300&display=swap');
li {
  display: inline-block;
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Handlee", monospace;
  font-size: large;
  
}

.color{
  color: rgb(196, 152, 72);
}
#curly{
  color: rgb(235, 174, 76);
  font-family: "Merienda";
  font-size: 50px;
  margin-left: 10px;
  letter-spacing: 2px;
  text-emphasis: none;
  text-decoration: none;
}
.boton{
    background-color: beige;
    color: rgb(39, 33, 23);
    
}
.boton:hover{
    background-color: rgba(255, 166, 0, 0.571);
}


.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
}

h1{
  font-family: 'Space Grotesk';
  color: orange;

}
p{
  font-family: "Handlee";
  font-size: large}

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


.card-img {
  height: 250px;

  width: 250px;
  
  object-fit: cover;
}